*{
  padding:0%;
  
  color: white;
}

#amazon{
  height: 60px;
  background-color:black;

}
button{
  background-color: rgb(255, 132, 0);
}
#logo{
color: rgb(255, 132, 0);
font-size: 25px;
}
a{
  margin-right: 200px;
}